In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("BankNote_Authentication.csv")
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [3]:
x = df.iloc[:,:-1]
y = df.iloc[:, -1]

In [4]:
x.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [5]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [7]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(x_train, y_train)

RandomForestClassifier()

In [8]:
y_pred = classifier.predict(x_test)

In [9]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred)

In [10]:
score

0.9878640776699029

In [11]:
import pickle
pickle_out = open("classifier.pkl", "wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [12]:
classifier.predict([[2,3,4,1]])

array([0])

In [15]:
# conda install flask

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/vivek.verma/opt/anaconda3

  added / updated specs:
    - flask


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.10.14 |                0         121 KB
    conda-4.9.0                |           py37_0         2.9 MB
    flask-1.1.2                |             py_0          78 KB
    ------------------------------------------------------------
                                           Total:         3.0 MB

The following NEW packages will be INSTALLED:

  flask              pkgs/main/noarch::flask-1.1.2-py_0
  itsdangerous       pkgs/main/osx-64::itsdangerous-1.1.0-py37_0

The following packages will be UPDATED:

  ca-certificates                               2020.7.22-0 --> 2020.10.14-0
  conda                                        4.8.5-py37_0 --> 4.9.0-py37_0



Downloading and Extracting Packages
conda-4.9.0          | 2.9 MB    | ##################################### | 100%
ca-certificates-2020 | 121 KB    | ##################################### | 100%
flask-1.1.2          | 78 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

NameError: name 'netstat' is not defined